<ng-container>
  <mr-top-bar>
  </mr-top-bar>
  <mr-center>
    <h1>Hi {{ name }}!</h1>
    <mr-login-user [margin]="true">
    </mr-login-user>
    <div class="button-container button-container--margin-top">
      <div class="button button--yellow" [routerLink]="'/s/user/' + securityService.user.spotifyId">SPOTIFY ACCOUNT&nbsp;<i class="mr-icon mr-small-right"></i></div>
    </div>
    <div class="button-container button-container--margin-less">
      <div class="button"
           [routerLink]="'/login/redirect'"
           [queryParams]="{ dialog: 'yes' }">SWITCH ACCOUNTS</div>
      <div class="button button--invert" (click)="securityService.logout()">LOGOUT</div>
    </div>
  </mr-center>
</ng-container>
