

@mixin button($foreground-color: $light-text-color, $background-color: $white-color, $border-color: $foreground-color) {
  min-width: 200px;
  min-height: 45px;
  text-transform: uppercase;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $foreground-color;
  border: solid 2px $border-color;
  background: $background-color;
  box-shadow: 0 3px 4px 0 rgba(214, 214, 214, 0.50);
  font-weight: bold;
  border-radius: 5px;

  cursor: pointer;

  margin-right: 20px;
  padding: 0 10px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: $foreground-color;
    color: $background-color;
  }
}

.button {
  @include button();

  &.button--invert {
    @include button($white-color, $light-text-color, $light-text-color)
  }

  &.button--yellow {
    @include button($primary-color);

    &.button--invert {
      @include button($white-color, $primary-color, $primary-color);
    }
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .button {
    margin-right: 0;
    margin-bottom: 20px;
  }

  @media #{$sm-up} {
    .button {
      margin-right: 20px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--margin-top {
    margin-top: 75px;
  }

  &--margin-less {
    margin-top: 40px;
  }

  &--wrap {
    margin-top: 20px;

    .button {
      margin-left: 0;
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  &--center {
    justify-content: center;
    align-items: center;
  }
}
