@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

mr-table {
  overflow: auto;
  margin: 0 -50px;
  padding: 0 50px;

  .table {
    margin-right: 50px;
    user-select: none;
  }
}

.table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;

  thead {
    border-bottom: solid 1px rgba($lightest-text-color, .5);
  }

  thead th,
  tbody tr td {
    text-align: left;
    padding: 0 12px;
    border-collapse: collapse;
  }

  thead th {
    font-size: 12px;
    padding-bottom: 12px;
  }

  tbody tr {
    border-bottom: solid 1px rgba($lightest-text-color, .5);
    border-radius: 5px;
    overflow: hidden;

    td {
      height: 45px;
      font-size: 14px;
      white-space: nowrap;

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &.fill {
        width: 100%;
      }
      &.hover {
        cursor: pointer;
      }
    }

    &:hover td {
      background: rgba($primary-color, 1);
      color: white;

      .popularity .popularity__item--active {
        background: white;
      }
    }

    .table__image {
      position: relative;

      img {
        width: 30px;
        height: 30px;
        border-radius: 3px;
        margin-top: 3px;
      }

      &--now-playing {
        img {
          animation: rotate 3s linear infinite;
        }
      }

      &--active {
        img {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border: solid 2px #333;
        }

        &::before {
          position: absolute;
          content: '  ';
          top: 50%;
          left: 50%;
          background: rgba(white, 1);
          border: solid 2px #333;
          width: 10px;
          height: 10px;
          transform: translate(-50%, -50%);
          z-index: 100;
          border-radius: 50%;
        }
      }
    }
  }

  th {
    color: $lighter-text-color;
    font-weight: normal;
  }
}

.popularity {
  display: flex;
  flex-direction: row;

  .popularity__item {
    background: $lightest-text-color;
    height: 10px;
    width: 1px;
    margin-right: 2px;

    &--active {
      background: $primary-color;
    }
  }
}

.remove {
  color: #e74c3c;
}
