<div class="song-proposal">
  <div class="song-proposal__vote">
    <div class="song-proposal__vote-up"
         *ngIf="!denied && !hasVoted()"
         (click)="voteUp()">
      <i class="mr-icon mr-small-up"></i>
    </div>
    <div class="song-proposal__vote-count">
      {{ proposal?.votes.length }}
    </div>
    <div class="song-proposal__vote-down"
         *ngIf="!denied && hasVoted()"
         (click)="voteDown()">
      <i class="mr-icon mr-small-down"></i>
    </div>
  </div>
  <div class="song-proposal__image"
       [ngClass]="{ 'song-proposal__image--now-playing': spotifyService?.activeSong?.item?.id === proposal?.songId && spotifyService?.activeSong?.is_playing }"
       [routerLink]="['/s/album/' + proposal?.song?.json?.album.id]">
    <img *ngIf="proposal?.song?.json?.album.images.length > -1" [attr.src]="proposal?.song?.json?.album.images[0].url"
         alt="">
    <img *ngIf="proposal?.song?.json?.album.images.length === 0"
         [attr.src]="'https://images.unsplash.com/photo-1484069560501-87d72b0c3669?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=60'"
         alt="">
  </div>
  <div class="song-proposal__content">
    <div class="song-proposal__content-item-name"
         (click)="play(proposal?.song?.json?.uri)">
      {{ proposal?.song?.json?.name }}
    </div>
    <div class="song-proposal__content-item-artist"
         [routerLink]="['/s/artist/' + proposal?.song?.json?.artists[0].id]">
      {{ proposal?.song?.json?.artists[0].name }}
    </div>
    <div class="song-proposal__content-item-created-by">
      Proposed by <span [routerLink]="['/s/user/' + proposal?.createdBy?.spotifyId]">{{proposal?.createdBy?.name}}</span>
    </div>
  </div>
  <div class="song-proposal__button"
       *ngIf="!denied && communityDetailPageService?.community?.isAdmin">
    <div class="song-proposal__button-item"
         (click)="decline()">
      <i class="mr-icon mr-e-remove"></i>
    </div>
    <div class="song-proposal__button-item"
         (click)="accept()">
      <i class="mr-icon mr-check-single"></i>
    </div>
  </div>
  <div class="song-proposal__button"
       *ngIf="denied && communityDetailPageService?.community?.isAdmin">
    <div class="song-proposal__button-item"
         (click)="restore()">
      <i class="mr-icon mr-small-right"></i>
    </div>
  </div>
</div>
