<div class="menu"
     [ngClass]="{ 'menu--visible': menuService.isVisible }">
  <div class="menu__outer-click" (click)="menuService.setVisible(false)"></div>
  <div class="menu__container">
    <div class="menu-list">
      <ng-container *ngIf="securityService.user === null">
        <div class="menu-list__item menu-list__item--bold"
             [routerLink]="'/home'"
             [routerLinkActive]="'menu-list__item--active'"
             (click)="menuService.setVisible(false)">
          Home
        </div>
        <div class="menu-list__item menu-list__item--bold"
             [routerLink]="'/about'"
             [routerLinkActive]="'menu-list__item--active'"
             (click)="menuService.setVisible(false)">
          About
        </div>
      </ng-container>
      <ng-container *ngIf="securityService.user !== null">
        <div class="menu-list__item menu-list__item--bold"
             [routerLink]="'/dashboard'"
             [routerLinkActive]="'menu-list__item--active'"
             (click)="menuService.setVisible(false)">
          Dashboard
        </div>
      </ng-container>
      <div class="menu-list__divider"></div>
      <ng-container *ngIf="securityService.user === null">
        <div class="menu-list__item"
             [routerLink]="'/login/redirect'"
             (click)="menuService.setVisible(false)">
          Login
        </div>
      </ng-container>
      <ng-container *ngIf="securityService.user !== null">
        <div class="menu-list__item-img" *ngIf="securityService?.user?.spotifyInformation?.json?.images.length > 0">
          <img [attr.src]="securityService?.user?.spotifyInformation?.json?.images[0].url">
        </div>
        <div class="menu-list__item"
             [routerLink]="'/login/account'"
             [routerLinkActive]="'menu-list__item--active'"
             (click)="menuService.setVisible(false)">
          {{ securityService?.user?.name }}
        </div>
      </ng-container>
    </div>
    <div class="right-column">
      <img src="/assets/img/background-menu.png" alt="Background Menu">
    </div>
  </div>
</div>
