<mr-top-bar></mr-top-bar>
<mr-center>
  <h1>Oh, You canceled!</h1>
  <br>
  <small>Or something went wrong...</small>
  <br>
  <br>
  <br>
  <div class="button-container">
    <div class="button button--yellow button--invert" [routerLink]="'/login/redirect'">Retry</div>
    <div class="button" (click)="redirect()" *ngIf="securityService.user === null">REDIRECTING IN {{counter}}s</div>
    <div class="button" (click)="redirect()" *ngIf="securityService.user !== null">REDIRECTING IN {{counter}}s</div>
  </div>
</mr-center>
