<div class="home-content">
  <div class="home-content__welcome">Welcome to</div>
  <div class="home-content__header">The platform for finding new artists and music!</div>
  <div class="home-content__description">We let you create communities so you can share music / artists with this so that you can discover new music.</div>
  <div class="home-content__buttons">
    <div class="button">LEARN MORE</div>
    <div class="button button--yellow button--invert" [routerLink]="'/login'">TRY IT OUT</div>
  </div>
</div>
