$mr-font-path:        "assets/fonts" !default;
$mr-font-size-base:   14px !default;
$mr-css-prefix:       mr-icon !default;
$mr-background-color: #eee !default;
$mr-li-width:         (30em / 14) !default;
$mr-padding-width:    (1em/3) !default;
