<ng-template
  let-title="title"
  let-underTitle="underTitle"
  let-ownerId="ownerId"
  let-imageSource="imageSource"
  let-amountSongs="amountSongs"
  let-releaseYear="releaseYear"
  #spotifyPlaylistSideBar>
  <div class="side-bar-content">
    <div class="side-bar-content__type">
      Playlist
    </div>
    <div class="side-bar-content__image">
      <img [attr.src]="imageSource" alt="">
    </div>
    <div class="side-bar-content__info">
      <div class="side-bar-content__title">{{ title }}</div>
      <div class="side-bar-content__under-title side-bar-content__under-title--clickable"
           [routerLink]="['/s/artist/' + ownerId]">{{ underTitle }}
      </div>
    </div>
    <div class="side-bar-content__line"></div>
    <div class="side-bar-content__small">
      <i class="mr-icon mr-disk-2"></i> {{ amountSongs }} songs - updated in {{ releaseYear }}
    </div>
  </div>
</ng-template>

<mr-top-bar>
</mr-top-bar>
<mr-container>
  <div class="page-loading" *ngIf="spotifyPlaylistPageService.isLoading"></div>
  <ng-container *ngIf="!spotifyPlaylistPageService.isLoading">
    <mr-header
      [title]="'Songs'"
      [subTitle]="'Album'">
    </mr-header>
    <mr-table
      [columns]="columns"
      [rows]="spotifyPlaylistPageService.rows"
      (onRowClick)="onRowClick($event)">
    </mr-table>
  </ng-container>
</mr-container>
