.app-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .app-container__left {
    position: relative;
    width: 30%;
    max-width: 30%;
    height: 100%;
  }

  .app-container__right {
    position: relative;
    width: 70%;
    max-width: 70%;
    height: 100%;
    overflow-y: auto;
  }

  &.app-container--small {
    .app-container__left {
      width: 10%;
      max-width: 122px;
    }

    .app-container__right {
      width: 100%;
      max-width: 100%;
    }
  }

  &.app-container--transition {
    .app-container__left,
    .app-container__right {
      transition: width .25s ease-out, max-width .25s ease-out;
    }
  }
}

body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  height: 100%;
}

html {
  height: 100%;
  overflow: auto;
}

router-outlet {
  display: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.container--margin {
  margin: 50px auto;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
